@font-face {
    font-family: 'BungeeShade';
    src: url(BungeeShade-Regular.ttf);
}

@font-face {
    font-family: 'Ranga';
    src: url(Ranga-Regular.ttf);
}



body
{
    margin: 0;
    display: grid;
    grid-template-columns:  30% 40% 30%;
    grid-template-rows: 20% 17% 63%;

    background-image: url(sadsadsa.jfif);
    background-size: cover;
}

.t1
{
    margin-left: 126%;
    grid-column: 1/2;
    grid-row: 1/1;
    text-align: center;
    font-family: 'BungeeShade';
    color: mediumseagreen;
    font-size: 47px;
    margin-top: 3%;

}

#logo
{
    grid-column: 1/1;
    grid-row:  1/1;
    margin-top: 3.7%;
    background-size: 90%;
    width:153px; 
    height:139px;
}

#menus
{
    grid-column: 1/1;
    grid-row: 1/1;
    text-align: center;
    font-family: 'BungeeShade';
    color: mediumseagreen;
    font-size: 27px;
    background-color: transparent;
    border-color: transparent;
    font-weight: bold;
    margin-left: 5.5%;
    margin-top: 22%;
    width: 19%;
    height: 31%;
}

#IFI
{
    background-image: url(inf.png);
    grid-row: 1/1;
    grid-column: 2/3;
    background-size: 70%;
    background-repeat: no-repeat;
    width: 128;
    height: 128;
    margin-left: 73%;
    margin-top: 5.3%;
}

#map
{
    grid-column: 1/1;
    grid-row: 3/3;
    margin-left: 8%;
}

.t3
{
    grid-row: 2/2;
    text-align: center;
    font-family: 'BungeeShade';
    color: mediumseagreen;
    font-size: 30px;
    font-weight: bold;
    background-color: black;
    border-radius: 10px;
    border-color: aliceblue; 
    border-style: solid;
    border-width: 3px;
}

.t2
{
    text-align: center;
    font-family: 'ranga';
    color: white;
    font-size: 30px;
    font-weight: bold;
    background-color: black;
    border-radius: 10px;
    border-color: mediumseagreen; 
    border-style: solid;
    border-width: 3px;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

#bx1
{
    grid-column: 1/2;
    width: 45%;
    height: 50%;
    padding-top: 5px;
    margin-left: 25%;
}

#bx2
{
    grid-column: 2/2;
    width: 32%;
    height: 50%;
    padding-top: 5px;
    margin-left: 30%;
}

#bx3
{
    grid-column: 3/3;
    width: 40%;
    height: 50%;
    padding-top: 5px;
    margin-left: 25%;
}

.playlist
{
    grid-column: 3/3;
    grid-row: 3/3;
    margin-right: 7%;
}

#histxt
{
    grid-row: 3/3;
    grid-column: 2/2;
    width: 65%;
    height: 55%;
    margin-top: -1px;
    margin-left: 8%;
}

#playtxt
{
    grid-row: 3/3;
    grid-column: 3/3;
    width: 75%;
    height: 17%;
    margin-top: 70%;
    margin-left: 3.5%;
    padding-top: 2%;
}

#dirtxt
{
    grid-row: 3/3;
    grid-column: 1/1;
    width: 70%;
    height: 30%;
    margin-top: 72%;
    margin-left: 10%;
    padding-top: 2%;
}