body
{
    margin: 0;
    display: grid;
    grid-template-columns: 15% 55% 15% 30%;
    grid-template-rows: 20% 20% 60%;
    background-image: url(imagenPrincipal.jpg);
    background-size: cover;
}

.titulo1 {
    margin-left: -280px;
    grid-column: 2/3;
    text-align: left;
    font-family: 'Kanit';
    color: red;
    font-size: 50px;
    margin-top: 2%;
}

.varios {
    color: red;
    text-align: left;
    font-size: 35px;
    grid-column: 3/2;
    grid-row: 3/2;  
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.590); 
    border-radius: 10px;
    border-color: black; 
    border-style: solid;
    border-width: 3px;
    
}

#tx1
{
    height: 100px;
    width: 250px;
    margin-left: 100px;
    margin-top: -200px;
    padding-left: 6.5%;
}

#tx2
{
    height: 100px;
    width: 250px;
    margin-left: 400px;
    margin-top: -200px;
    padding-left: 2.5%;
    
}

#tx3
{
    height: 100px;
    width: 250px;
    margin-left: 700px;
    margin-top: -200px;
    padding-left: 4.5%; 
}

#tx4
{
    height: 100px;
    width: 250px;
    margin-left: 1800px;
    margin-top: -200px;
    padding-left: 5%; 
}

